<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CNWT客户管理系统</title>
    <meta name="description" content="CNWT客户管理系统">
    <meta name="keywords" content="CNWT客户管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/validform/js/validform_min.js"></script>
    <link rel="stylesheet" href="assets/validform/css/validform.css" />
</head>

<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <div class="tpl-logo">CNWT客户管理系统</div>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"> </div>
        <div class="am-fl welcome">用户设定的欢迎词~~~~~~</div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick am-icon-user"> 用户名</span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-cog"></span> 修改密码</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">

        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                导航
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-cubes am-icon-fw"></i>
                            <span>项目管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>项目管理</span>
                                </a>
                                <a href="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>创建项目</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-user am-icon-fw"></i>
                            <span>客户管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户管理</span>
                                </a>
                                <a href="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>创建客户</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="login.php" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms am-icon-fw"></i>
                            <span>工作日志</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-users am-icon-fw"></i>
                            <span>员工管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="" class="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>员工管理</span>
                                </a>
                                <a href="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>创建员工</span>
                                </a>
                                <a href="">
                                    <i class="am-icon-angle-right"></i>
                                    <span>欢迎词库</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>



        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                新增人事信息
            </div>
            <div class="tpl-portlet-components">

                <div class="tpl-block">

                    <div class="am-g tpl-amazeui-form">

                        <div class="am-u-sm-12 am-u-md-10">
                            <form class="am-form am-form-horizontal validform">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">姓名</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="姓名" autocomplete="off" datatype="*" nullmsg="请填写姓名" errormsg="请填写姓名">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">性别</label>
                                    <div class="am-u-sm-9">
                                        <div class="am-cf">
                                            <label class="am-radio-inline"><input value="" name="docInlineRadio" type="radio" datatype="*" nullmsg="请选择性别" errormsg="请选择性别"> 男</label>
                                            <label class="am-radio-inline"><input name="docInlineRadio" type="radio"> 女</label>
                                        </div>
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">科室</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="科室" autocomplete="off" datatype="*" nullmsg="请填写科室" errormsg="请填写科室">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">职务</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="职务" autocomplete="off" datatype="*" nullmsg="请填写职务" errormsg="请填写职务">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">电话</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="电话" autocomplete="off" datatype="m | tel" nullmsg="请填写电话" errormsg="请填写电话">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">QQ</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="QQ" autocomplete="off" datatype="qq" nullmsg="请填写QQ" errormsg="请填写QQ">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">微信</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field am-radius" placeholder="微信" autocomplete="off" datatype="*" nullmsg="请填写微信" errormsg="请填写微信">
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">个人信息</label>
                                    <div class="am-u-sm-9">
                                        <textarea class="am-form-field am-radius" placeholder="请输入客户兴趣爱好，个人情况等信息" autocomplete="off" datatype="*" nullmsg="请填写个人信息" errormsg="请填写个人信息" rows="5"></textarea>
                                        <small class="Validform_checktip"></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                        <button type="reset" class="am-btn">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <script src="assets/js/app.js"></script>
    <script>
        $(function(){

            $(".validform").Validform({
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        var objtip = o.obj.parents(".am-form-group").find(".Validform_checktip");
                        cssctl(objtip, o.type);
                        objtip.text(msg);
                    }
                },
                showAllError: true,
            });
        });
    </script>
</body>
</html>